.header {
  width: 100%;

  .wrapper {
    position: relative;
    margin: 0 auto;
    max-width: min(90%, 1500px);
    padding: 1em 0;

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    grid-template-columns: 1fr;
    justify-items: end;
    align-items: center;
  }
}

.title {
  font-size: 2em;
  justify-self: start;

  a {
    color: inherit;
    text-decoration: none;
  }
}
