* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  color: rgb(var(--foreground-rgb));
  background: #050515;
}

main.example {
  position: relative;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
