.button {
  display: grid;
  place-items: center;
  padding: 1em 1.25em;
  border-radius: 3px;
  border: none;
  cursor: pointer;

  font-size: 1.125em;
  font-weight: bold;

  background-color: #333;
  border: 1px solid #333;
  color: #fff;

  transition:
    background-color 0.25s,
    color 0.25s;

  transition-timing-function: ease-in;

  &:hover {
    background-color: #000;
    color: #fff;
    transition-timing-function: ease-out;
  }
}

.small {
  padding: 0.5em 1em;
}

.primary {
  background-color: #fff;
  border: 1px solid #fff;
  color: #333;
}

.bare {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: inherit;

  &:hover {
    background-color: unset;
  }
}

.outline {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  color: #fff;

  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.buttongroup {
  display: flex;
  gap: 2em;

  a {
    text-decoration: none;
    color: inherit;
  }
}
